<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Artemis project</title>
	<meta name="description" content="Atermis">
	<meta name="author" content="Franck Dessimoz">
	<meta name="author" content="Simon Roquette">
	<meta name="author" content="Justine Weber">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body>

	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dots_animation.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/helper.js') }}"></script>
	<script src="https://unpkg.com/d3fc"></script>

	<div class="main-window" id="main">
		<img id="open-menu-button" src="{{ url_for('static',filename='img/open_menu.png') }}" class="open-menu">
		<img id="remove-filter-button" src="{{ url_for('static',filename='img/trash_orange.png') }}"
			class="remove-filter-button">
		<img id="unzoom-button" src="{{ url_for('static',filename='img/unzoom_orange.png') }}" class="unzoom">
		<div class="plot" id="plot-div">
			<svg id="plot"></svg>
		</div>
		<img id="arrow-down-main" src="{{ url_for('static',filename='img/arrow_down.png') }}" class="arrow_down">
	</div>

	<!-- Fill in description -->
	<div class="description" id="description">
		<h1>ARTEMIS PROJECT</h1>
		<hr>
		</hr>
		<div class="description-c1" id="description-c1">
			<h2>Idea</h2>
			<p>
				Our goal was to design and create a simple, easy-to-use and interactive vizualisation aiming to show
				whether
				there exists any link between historical events and songs, through their lyrics.
				Indeed the <i>Billboard Hot 100</i> is the music industry standard record chart in the United States for
				songs, published weekly by Billboard magazine. Chart rankings are based on phsyical and digital
				sales, radio play and since recently, online streaming in the United States. At the end of each year
				<i>Billboard</i> magazine publishes the <i>Year-End Hot 100</i> singles, which basically
				means the biggest successes of the year. The purpose of this project is thus to investiguate whether the
				fact that a song is related to a major event could make it a great success.
			</p>
		</div>
		<div class="description-c2" id="description-c2">
			<h2>Datasets</h2>
			<p>
				Our goal was to design and create a simple, easy-to-use and interactive vizualisation aiming to show
				whether
				there exists any link between historical events and songs, through their lyrics.
				Indeed the <i>Billboard Hot 100</i> is the music industry standard record chart in the United States for
				songs, published weekly by Billboard magazine. Chart rankings are based on phsyical and digital
				sales, radio play and since recently, online streaming in the United States. At the end of each year
				<i>Billboard</i> magazine publishes the <i>Year-End Hot 100</i> singles, which basically
				means the biggest successes of the year. The purpose of this project is thus to investiguate whether the
				fact that a song is related to a major event could make it a great success.
			</p>
		</div>
		<div class="description-c3" id="description-c3">
			<h2>NLP</h2>
			<p>
				Our goal was to design and create a simple, easy-to-use and interactive vizualisation aiming to show
				whether
				there exists any link between historical events and songs, through their lyrics.
				Indeed the <i>Billboard Hot 100</i> is the music industry standard record chart in the United States for
				songs, published weekly by Billboard magazine. Chart rankings are based on phsyical and digital
				sales, radio play and since recently, online streaming in the United States. At the end of each year
				<i>Billboard</i> magazine publishes the <i>Year-End Hot 100</i> singles, which basically
				means the biggest successes of the year. The purpose of this project is thus to investiguate whether the
				fact that a song is related to a major event could make it a great success.
			</p>
		</div>

		<img id="arrow-down-description" src="{{ url_for('static',filename='img/arrow_down_white.png') }}"
			class="arrow_down">
	</div>

	<div class="footer" id="footer">
		<h1>Meet the team</h1>
		<hr>
		</hr>
		<div class="team">
			<div class="member">
				<div class="member-image">
					<img src="static/img/bg_grey.png" class="img-bg">
					<img src="static/img/franck.png" class="img-team">
					<a href="https://github.com/franckdess" target="_blank"><img src="static/img/gh.png"
							class="res-icon-gh" style="opacity: 0;"></a>
					<a href="https://www.linkedin.com/in/franck-dessimoz/" target="_blank"><img src="static/img/li.png"
							class="res-icon-li" style="opacity: 0;"></a>
				</div>
				<h2>Franck Dessimoz</h2>
				<p>Master student in Data Science at EPFL <br> franck.dessimoz@epfl.ch</p>
			</div>
			<div class="member">
				<div class="member-image">
					<img src="static/img/bg_grey.png" class="img-bg">
					<img src="static/img/justine.png" class="img-team">
					<a href="https://github.com/JustineWeb" target="_blank"><img src="static/img/gh.png"
							class="res-icon-gh" style="opacity: 0;"></a>
					<a href="https://www.linkedin.com/in/justine-weber-web/" target="_blank"><img
							src="static/img/li.png" class="res-icon-li" style="opacity: 0;"></a>
				</div>
				<h2> Justine Weber</h2>
				<p>Master student in Data Science at EPFL <br> justine.weber@epfl.ch</p>
			</div>
			<div class="member">
				<div class="member-image">
					<img src="static/img/bg_grey.png" class="img-bg">
					<img src="static/img/simon.png" class="img-team">
					<a href="https://github.com/simonroquette" target="_blank"><img src="static/img/gh.png"
							class="res-icon-gh" style="opacity: 0;"></a>
					<a href="http://www.linkedin.com/in/simon-roquette-10493015a" target="_blank"><img
							src="static/img/li.png" class="res-icon-li" style="opacity: 0;"></a>
				</div>
				<h2>Simon Roquette</h2>
				<p>Master student in Data Science at EPFL <br> simon.roquette@epfl.ch</p>
			</div>
		</div>
		<img id="arrow-up-footer" src="{{ url_for('static',filename='img/arrow_up.png') }}" class="arrow_down">
	</div>
</body>

</html>